#Dependencies
node_modules/
__pycache__/
*.pyc
.venv/

#Environment
.env
.env.local
.env.*.local

#Build
dist/
build/
*.egg-info/

#OS
.DS_Store
Thumbs.db

#IDE
.vscode/
.idea/
